<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Alexsander Akers</string>
	<key>Builder Version</key>
	<string>11601.1.41</string>
	<key>CFBundleDisplayName</key>
	<string>Millennials to Snake People</string>
	<key>CFBundleIdentifier</key>
	<string>us.pandamonia.millennials-to-snake-people</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3</string>
	<key>CFBundleVersion</key>
	<string>1.3</string>
	<key>Chrome</key>
	<dict/>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>content_script.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Learn the sad, sinister truth behind the mysterious Snake People. Who are they? What do they want?</string>
	<key>DeveloperIdentifier</key>
	<string>94C3W2AV74</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://a2.github.io/millennials-to-snake-people/update-manifest.plist</string>
	<key>Website</key>
	<string>https://github.com/a2/millennials-to-snake-people</string>
</dict>
</plist>
